useDynLib(classtpx)
import(slam)

export(stm_tfidf,
       normalize,
       rdir,
       class_topics,
       predict.class_topics,
       class_topicVar,
       expit,
       logit,
       thetaSelect
       )

S3method(plot,class_topics)
S3method(predict,class_topics)
S3method(summary,class_topics)
