useDynLib(classtpx)
import(slam)

export(stm_tfidf,
       normalize,
       rdir,
       class_topics,
       class_predict.topics,
       topicVar,
       expit,
       logit)

S3method(plot,topics)
S3method(predict,topics)
S3method(summary,topics)
